@import "include";

fieldset {
    margin: 10px auto;
    div {
	padding: 3px 8px;
	text-align: center;
    }
}
td.msg {
    div.msg-res0, div.msg-res1, div.msg-res2 {
	font-weight: bold;
	font-size: 110%;
    }
    div.msg-res1 {
        margin-bottom: 3px;
    }
    div.msg-res2 {
	margin-bottom: 5px;
    }
    div.msg-note {
	font-size: 85%;
    }
}
