@import "include";

fieldset {
    margin: {
	top: 0;
	bottom: ($vl+$vm);
    }
}
.btbl {
    table {
	width: 100%;
    }
    th, tbody td {
	padding: $vl $hm;
	border-bottom: $bs solid $border-blue;
    }
    th {
	text-align: center;
	font-size: $huge;
	padding-left: $hl;
    }
    td.mc {
	width: 100%;
    }
    td.act {
	text-align: center;
    }
    div:first-child {
	font-weight: bold;
    }
    tfoot tr td {
	height: ($vh+$vl);
    }
}
td.cc {
    white-space: nowrap;
    font-weight: bold;
}
tr.header:first-child th {
    padding-bottom: 0;
}
table.intbl {
    margin: 5px auto;
    width: 100%;
}
.intbl {
    th, td {
	text-align: left;
	padding: $vs $hm $vm;
    }
    td.hr {
	padding: $vm 0 $hm;
    }
    hr {
	margin: 0;
    }
    td span {
	padding-left: $hm;
    }
}
tr.curr th {
    font-weight: normal;
    padding-top: $vn;
}
tr.deb th {
    padding: {
	top: $vn;
	bottom: $vn;
    }
}
td.taberr {
    text-align: center;
    font-style: italic;
    background: {
	color: $white;
	image: url('/static/cb.svg');
	repeat: repeat;
    }
    border-top: $bs solid $medium-blue;
    padding: $vm $hm;
}
td.dat, td.dt, td.cus {
    text-align: center;
}
td.am, td.ams {
    text-align: right;
    white-space: nowrap;
}
td.ams, td.cs, td.cus {
    border-left: $bs solid $medium-blue;
}
th.sum {
    font-weight: bold;
}
td.act {
    word-spacing: $hs;
    white-space: nowrap;
}
span.cr {
    color: $red;
}
table.nttbl {
    margin: $vh auto $vl;
}
table.nttbl p {
    margin: $vm $hl;
}
