@import "include";

fieldset {
    padding: 5px 10px;
    margin: {
	top: 0;
	bottom: 15px;
    }
}
.btbl {
    table {
	width: 100%;
    }
    th, tbody td {
	padding: 10px 8px;
	border-bottom: 1px solid $border-blue;
    }
    th {
	text-align: center;
	font-size: 135%;
	padding-left: 12px;
    }
    td.mc {
	width: 100%;
    }
    td.act {
	text-align: center;
    }
    div:first-child {
	font-weight: bold;
    }
}
td.cc {
    white-space: nowrap;
    font-weight: bold;
}
tr.header:first-child th {
    padding-bottom: 0;
}
table.intbl {
    margin: 5px auto;
    width: 100%;
}
.intbl {
    th, td {
	text-align: left;
	padding: 4px 10px 8px;
    }
    td.hr {
	padding: 6px 0 8px;
    }
    hr {
	margin: 0;
    }
    td span {
	padding-left: 10px;
    }
}
tr.curr th {
    font-weight: normal;
    padding-top: 1px;
}
tr.deb th {
    padding: {
	top: 1px;
	bottom: 1px;
    }
}
td.taberr {
    text-align: center;
    font-style: italic;
    background: {
	color: $white;
	image: url('/static/cb.svg');
	repeat: repeat;
    }
    border-top: 1px solid $medium-blue;
    padding: 5px 10px;
}
td.dat, td.dt, td.cus {
    text-align: center;
}
td.am, td.ams {
    text-align: right;
    white-space: nowrap;
}
td.ams, td.cs, td.cus {
    border-left: 1px solid $medium-blue;
}
th.sum {
    font-weight: bold;
}
td.act {
    word-spacing: 5px;
    white-space: nowrap;
}
span.cr {
    color: $red;
}
.butbar td {
    padding: 1px 12px;
}
table.nttbl {
    margin: 25px auto 10px;
}
table.nttbl p {
    margin: 5px 15px;
}
