@import "include";

fieldset {
    margin: $vl auto;
    legend + div {
	font-style: italic;
    }
}
div.msg-amount {
    font-size: $larger;
    font-weight: bold;
}
div.msg-note {
    font-size: $small;
    padding-top: $vs;
}
