appdirs==1.4.3
argcomplete==1.10.0
astroid==2.2.5
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.3
Django==2.2.1
django-csp==3.5
django-sphinxsearch==3.0.1
docx2txt==0.7
EbookLib==0.17.1
idna==2.8
isort==4.3.20
lazy-object-proxy==1.4.1
lxml==4.3.3
mccabe==0.6.1
mysqlclient==1.4.2.post1
olefile==0.46
packaging==19.0
pdfrw==0.4
Pillow==6.0.0
pocketsphinx==0.1.15
psycopg2-binary==2.8.2
pylint==2.3.1
pylint-django==2.0.9
pylint-plugin-utils==0.5
pyparsing==2.4.0
python-pptx==0.6.18
pytz==2019.1
reportlab==3.5.21
requests==2.22.0
six==1.12.0
soupsieve==1.9.1
SpeechRecognition==3.8.1
sqlparse==0.3.0
textract==1.6.1
tinycss==0.4
typed-ast==1.3.5
typing==3.6.6
urllib3==1.25.2
wrapt==1.11.1
xlrd==1.2.0
XlsxWriter==1.1.8
