{% extends "knr_list.html" %}

{% block table_header %}<th>Pořadí</th><th>Popis</th><th class="right"Částka</th><th colspan="3">Akce</th>{% endblock %}
{% block table_footer %}
            <td colspan="6" class="nowrap">
	      <form action="{% url 'knr:itemform' %}" method="post" enctype="multipart/form-data">
		<div>
		  <input type="submit" name="submit_new" value="Přidat položku:" id="id_apply" />
		  <select name="presel" id="id_new">
{% for p in presel %}                    <option value="{{ p.idx }}">{{ p.text }}</option>
{% endfor %}                  </select>
		</div>
		<div class="hidden"><input type="hidden" name="type" id="id_type" value="itemlist" /></div>
		{% csrf_token %}
	      </form>
	    </td>{% endblock %}
{% block table_row %}<td class="center">{{ forloop.counter }}</td><td>{{ row.description }}</td><td class="right nowrap">{{ row.amount|safe }} Kč</td><td class="links prm"><a href="{% url 'knr:itemform' row.idx %}">upravit</a> <a href="{% url 'knr:itemdel' row.idx %}">smazat</a></td><td class="pls prs">{% if row.up %}<a href="{% url 'knr:itemup' "u" row.idx %}">↑</a>{% endif %}</td><td lass="pls">{% if row.down %}<a href="{% url 'knr:itemdown' "d" row.idx %}">↓</a>{% endif %}</td>{% endblock %}
{% block empty %}
	<p class="center">(nejsou zadány žádné položky)</p>
	<form action="{% url 'knr:itemform' %}" method="post" enctype="multipart/form-data">
	  <p class="center nowrap">
	    <input type="submit" name="submit_new" value="Přidat položku:" id="id_apply" />
	    <select name="presel" id="id_new">
	    {% for p in presel %}  <option value="{{ p.idx }}">{{ p.text }}</option>
	    {% endfor %}</select>
	  </p>
	  <div class="hidden"><input type="hidden" name="type" id="id_type" value="itemlist" /></div>
	  {% csrf_token %}
	</form>{% endblock %}
