{% extends "main.html" %}

{% block page_contents %}
	<form method="post" enctype="multipart/form-data">
	  <table style="margin: auto;">
	    <tr><td></td><td><h1 style="text-align: left; margin-bottom: 8px;">{{ page_title }}</h1></td></tr>
{% if errors %}	    <tr><td></td><td class="warning">
              {% include "formwarning.html" %}            </td></tr>
{% endif %}	    <tr><th class="{{ title_error }}"><label for="id_title">Popis</label>:</th><td style="white-space: nowrap;"><input type="text" name="title" value="{{ title }}" size="50" maxlength="255" id="id_title" class="{{ title_error }}" /> (např. označení soudu a sp. zn.)</td></tr>
	    <tr><th class="{{ calculation_note_error }}"><label for="id_calculation_note">Poznámka</label>:</th><td><textarea name="calculation_note" rows="8" cols="80" id="id_calculation_note" class="{{ calculation_note_error }}">{{ calculation_note }}</textarea></td></tr>
	    <tr><th class="{{ internal_note_error }}"><label for="id_internal_note">Interní poznámka</label>:</th><td><textarea name="internal_note" rows="8" cols="80" id="id_internal_note" class="{{ internal_note_error }}">{{ internal_note }}</textarea></td></tr>
	    <tr><th class="{{ vat_rate_error }}"><label for="id_vat_rate" style="white-space: nowrap;">Sazba DPH</label>:</th><td style="white-space: nowrap;"><input type="text" name="vat_rate" value="{% ifequal vat_rate_error "ok" %}{{ vat_rate|floatformat:"2" }}{% else %}{{ vat_rate }}{% endifequal %}" size="5" maxlength="5" id="id_vat_rate" class="{{ vat_rate_error }}" /> %</td></tr>
	    <tr>
	      <td></td>
	      <td>
		<fieldset style="float: right;">
		  <table class="vattbl" style="width: 100%;">
		    <tr><th>Základ bez DPH:</th><td>{{ total_ex|safe }} Kč</td></tr>
		    <tr><th>Základ s DPH:</th><td>{{ total_net|safe }} Kč</td></tr>
		    <tr><th>DPH:</th><td>{{ total_vat|safe }} Kč</td></tr>
		    <tr class="bold"><th>Celkem:</th><td>{{ total|safe }} Kč</td></tr>
		  </table>
		</fieldset>
	      </td>
	    </tr>
	  </table>
	  <table style="width: 65%; margin: 20px auto 0;">
	    <tr class="bgrid"><th><input type="submit" name="submit_update" value="Aktualisovat" /></th><td>uložit hodnoty a pokračovat v úpravách</td></tr>
	    <tr class="bgridwg"><th><input type="submit" name="submit_edit" value="Upravit položky" /></th><td>uložit hodnoty a přejít k položkám kalkulace</td></tr>
	    <tr class="bgrid"><th><input type="submit" name="submit_empty" value="Vyprázdnit kalkulaci" id="id_reset" /></th><td>začít novou kalkulaci</td></tr>
	    <tr class="bgrid"><th style="padding-bottom: 0;"><input type="submit" name="submit_load" value="Načíst kalkulaci" id="id_load_button" /></th><td style="padding-bottom: 0;">načíst kalkulaci ze souboru PDF nebo XML (nejprve vyberte soubor)</td></tr>
	    <tr class="bgrid"><th style="padding-top: 0;"></th><td style="padding-top: 0;"><input type="file" name="load" accept="application/pdf,text/xml" id="id_load" /></td></tr>
	    <tr class="bgridwg"><th><input type="submit" name="submit_xml" value="Uložit kalkulaci" /></th><td>uložit kalkulaci do souboru XML</td></tr>
	    <tr class="bgridwg"><th><input type="submit" name="submit_pdf" value="Export do PDF" /></th><td>vytvořit z kalkulace soubor PDF</td></tr>
	    <tr class="bgrid"><th><input type="submit" name="submit_place" value="Upravit místa" /></th><td>zobrazit přehled přednastavených míst, která lze opakovaně používat při stanovení náhrady za použití motorového vozidla</td></tr>
	    <tr class="bgrid"><th><input type="submit" name="submit_car" value="Upravit vozidla" /></th><td>zobrazit přehled přednastavených motorových vozidel, která lze opakovaně používat při stanovení náhrady za použití motorového vozidla</td></tr>
	    <tr class="bgridwg"><th><input type="submit" name="submit_formula" value="Upravit předpisy" /></th><td>zobrazit kalkulační předpisy (vyhlášky) používané pro stanovení náhrady za použití motorového vozidla</td></tr>
	  </table>
	  <div class="hidden"><input type="hidden" name="type" id="id_type" value="mainpage" /><input type="hidden" name="type" id="id_items" value="{{ num_items }}" /></div>
	  {% csrf_token %}
	</form>
{% endblock %}
