{% extends "knr_form.html" %}

{% block form_contents %}
	    <tr><td></td><td colspan="2"><h1 style="text-align: left; margin-bottom: 8px; ">{{ page_title }}</h1></td></tr>
{% if err_message %}            <tr><td></td><td colspan="2" class="warning">
              {% include "formwarning.html" %}            </td></tr>
{% endif %}	    <tr class="{{ f.abbr.css_classes }}"><th>{{ f.abbr.label_tag }}</th><td colspan="2">{{ f.abbr }}</td></tr>
	    <tr class="{{ f.name.css_classes}}"><th>{{ f.name.label_tag }}</th><td colspan="2">{{ f.name }}</td></tr>
	    <tr class="{{ f.addr.css_classes }}"><th>{{ f.addr.label_tag }}</th><td colspan="2" style="white-space: nowrap;">{{ f.addr }} <input type="submit" name="submit_search" value="Vyhledat" id="id_search" /></td></tr>
	    <tr class="{{ f.lat.css_classes }}"><th>{{ f.lat.label_tag }}</th><td colspan="2">{{ f.lat }}</td></tr>
	    <tr class="{{ f.lon.css_classes }}"><th>{{ f.lon.label_tag }}</th><td colspan="2">{{ f.lon }}</td></tr>
{% endblock %}
