{% extends 'hsp_form.html' %}

{% block table_class %}balance{% endblock %}

{% block form_contents %}
<tr id="id_balanceform">
<td></td>
<td colspan="2"><h1>{{ page_title }}</h1></td>
</tr>
{% if err_message %}
<tr>
<td></td>
<td colspan="2">{% include 'formwarning.html' %}</td>
</tr>
{% endif %}
<tr class="{{ form.date.css_classes }}">
<th>{{ form.date.label_tag }}</th>
<td colspan="2">{{ form.date }}</td>
</tr>
<tr class="{{ form.description.css_classes }}">
<th>{{ form.description.label_tag }}</th>
<td colspan="2">{{ form.description }}</td>
</tr>
{% endblock %}
