{% extends 'main.html' %}

{% block page_contents %}
<form id="id_debtorform" method="post" enctype="multipart/form-data">
<table class="form">
<tbody>
<tr>
<td></td>
<td colspan="2"><h1>{{ page_title }}</h1></td>
</tr>
{% if err_message %}
<tr>
<td></td>
<td colspan="2">{% include 'formwarning.html' %}</td>
</tr>
{% endif %}
<tr class="ga {{ form.desc.css_classes }}">
<th>{{ form.desc.label_tag }}</th>
<td colspan="2" class="nowrap">{{ form.desc }}</td>
</tr>
<tr>
<th>{{ form.court.label_tag }}</th>
<td colspan="2">
<select name="court" id="id_court">
<option value="">(všechny)</option>
{% for court in courts %}
<option value="{{ court.id }}"{% if form.court.value == court.id %} selected{% endif %}>{{ court.name }}</option>
{% endfor %}
</select>
</td>
</tr>
<tr class="{{ form.name.css_classes }}">
<th>{{ form.name.label_tag }}</th>
<td colspan="2" class="inlop">
<span>{{ form.name }}</span>
{% for p in form.name_opt %}
{{ p }}
{% endfor %}
</td>
</tr>
<tr class="{{ form.first_name.css_classes }}">
<th>{{ form.first_name.label_tag }}</th>
<td colspan="2" class="inlop">
<span>{{ form.first_name }}</span>
{% for p in form.first_name_opt %}
{{ p }}
{% endfor %}
</td>
</tr>
<tr>
<th>{{ form.genid.label_tag }}</th>
<td colspan="2"><span>{{ form.genid }}</span></td>
</tr>
<tr>
<th>{{ form.taxid.label_tag }}</th>
<td colspan="2"><span>{{ form.taxid }}</span>
</td>
</tr>
<tr>
<th>{{ form.birthid.label_tag }}</th>
<td colspan="2"><span>{{ form.birthid }}</span><span>(včetně lomítka)</span></td>
</tr>
<tr>
<th>{{ form.date_birth.label_tag }}</th>
<td colspan="2"><span>{{ form.date_birth }}</span></td>
</tr>
<tr>
<th{% if form.year_birth_from.errors or form.year_birth_to.errors %} class="err"{% endif %}>Rok narození:</th>
<td colspan="2" class="nowrap">
<span class="{{ form.year_birth_from.css_classes }}" id="id_year_birth_from_span">{{ form.year_birth_from }}</span>
<span>–</span>
<span class="{{ form.year_birth_to.css_classes }}" id="id_year_birth_to_span">{{ form.year_birth_to }}</span>
</td>
</tr>
{% include 'submit.html' %}
</tbody>
</table>
{% csrf_token %}
</form>
{% endblock %}
