@import "include";

td.msg {
    div.msg-header {
	font-weight: bold;
	margin-bottom: $vs;
    }
    div.msg-ymd {
	margin-bottom: $vm;
    }
    div.msg-y {
	text-align: left;
	margin-left: $hl;
    }
    div.msg-m1, div.msg-m2 {
	text-align: left;
	margin-left: $hl;
    }
    div.msg-m1 {
	margin-top: $vm;
    }
}
