$red: #e00000;
$white: #ffffff;
$gray: #f2f6ff;
$neutral-gray: #aaaaaa;
$pink: #ffecec;
$very-dark-blue: #000040;
$dark-blue: #2551b7;
$medium-blue: #c4e0ff;
$light-blue: #e4ecff;
$border-blue: #c0c0ff;
