@import "include";

body, h1, h2, input[type="file"], legend, .immune {
    color: $very-dark-blue;
    background-color: $light-blue;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
body {
    margin: 0;
    font-size: 15px;
}
h1, h2 {
    text-align: center;
}
h1 {
    font: {
	size: 21px;
	weight: bold;
    }
    margin-top: 30px;
    margin-bottom: 8px;
}
h2 {
    font: {
	size: 17px;
	weight: normal;
    }
}
table {
    border-collapse: collapse;
}
tr.header, tr.footer, tr.topline {
    background-color: $medium-blue;
}
th {
    font-weight: normal;
    text-align: right;
    vertical-align: middle;
    padding: 4px 3px 6px;
}
thead th {
    font-weight: bold;
    text-align: center;
}
td {
    vertical-align: middle;
    padding: 1px 3px;
}
hr.tablediv {
    margin-top: 2px;
    margin-bottom: 1px;
    border-bottom: 0;
}
div.warning {
    border: {
	style: solid;
	width: 2px;
    }
    padding: 4px 30px;
    text-align: center;
    margin-bottom: 12px;
    background-color: $medium-blue;
}
a {
    color: $dark-blue;
    text-decoration: none;
    &:hover {
	color: $red;
    }
}
.grayed, span.grayed {
    color: $gray;
}
tr.even {
    background-color: $gray;
}
tr.odd {
    background-color: $white;
}
tr.preset.grayed {
    color: $neutral-gray;
}
tr.preset + tr:not(.preset) {
    border-top: 5px solid $medium-blue;
}
tr.even td, tr.odd td, thead th, tr.footer td {
    padding: 3px 13px;
}
tr.even td:first-child, tr.odd td:first-child, thead th:first-child, tr.footer td:first-child {
    padding-left: 20px;
}
tr.even td:last-child, tr.odd td:last-child, thead th:last-child {
    padding-right: 20px;
}
th {
    padding: 3px 5px;
}
.hidden {
    display: none;
}
.topline * {
    font-size: 12px;
    white-space: nowrap;
}
.subtitle {
    font: {
	style: italic;
	size: 15px;
    }
    text-align: center;
    margin-top: 3px;
    margin-bottom: 15px;
}
p.foot {
    font-size: 11px;
    text-align: center;
}
fieldset {
    border: {
	style: solid;
	width: 2px;
	color: $border-blue;
    }
    padding: 2px 5px;
}
legend {
    padding: 0 3px;
}
hr {
    border: none;
    height: 2px;
    background-color: $border-blue;
}
.err th, .err label, th.err, span.err {
    color: $red;
    font-weight: bold;
}
input[type="text"], input[type="password"], textarea {
    font-size: 13.5px;
}
.err input[type="text"],
.err input[type="password"],
.err textarea, input[type="text"].err,
input[type="password"].err {
    background: $pink;
}
input {
    margin: 3px 0 2px;
    padding: 1px 2px;
}
input[type="submit"], input[type="reset"] {
    padding: 1px 7px;
}
input[type="file"] {
    padding-left: 0;
}
select, input[type="submit"], input[type="reset"] {
    font-size: 13.5px;
}
input[type="radio"] {
    margin: 3px 3px 0 5px;
}
label input[type=radio] {
    margin-left: 10px;
}
label:first-child input[type="radio"] {
    margin-left: 3px;
}
input[type="checkbox"] + span {
    margin-right: 20px;
}
select {
    padding: 1px 2px;
}
.bold, .bold * {
    font-weight: bold;
}
td.msg div {
    text-align: center;
    padding: 0 $hm;
    white-space: nowrap;
}
.inlop {
    white-space: nowrap;
}
.inlop input[type="radio"] {
    margin: {
	right: 1px;
	left: 1px;
    }
}
.inlop label {
    margin-left: $hl;
}
.inlop label:first-child {
    margin-left: 0;
}
.disabled {
    color: gray;
}
.toupper {
    text-transform: uppercase;
}
.homeitem {
    h1 {
	margin-bottom: $vh;
    }
    div {
	text-align: center;
	margin-bottom: $vm;
    }
    div:last-child {
	margin-bottom: $vh;
    }
    hr {
	margin: $vl (-$hm);
    }
}
table.about {
    margin: $vh auto $vg;
}
table.about th {
    padding: ($vs+$vt) $hl;
}
table.about td {
    padding: ($vs+$vt) $hl ($vs+$vt) $hm;
}
table.list {
    margin: $vh auto $vg;
}
.hl {
    color: $red;
}
span.pager {
    color: $dark-blue;
}
svg {
    fill: $dark-blue;
    stroke: none;
}
a svg:hover {
    fill: $red;
}
span.pager {
    span:first-child {
	padding-right: $hm;
    }
    span:last-child {
	padding-left: $hm;
    }
    span.num {
	padding: {
	    left: $hm;
	    right: $hm;
	}
    }
}
span.grayed svg {
    fill: $gray;
}
.opt {
    padding: $vs $hm;
}
tr.bgrid td, tr.bgridwg td, tr.bgrid th, tr.bgridwg th {
    padding: $vs $hs;
}
tr.bgridwg td, tr.bgridwg th {
    padding-bottom: $vg;
}
table.detail {
    thead tr {
	background-color: $medium-blue;
	th {
	    font-size: 120%;
	    padding-bottom: $vm;
	}
    }
    tbody {
	tr {
	    th, td {
		background-color: $white;
		padding-top: $vt;
		padding-bottom: $vs;
	    }
	    th {
		padding-left: $hl;
		padding-right: $ht;
	    }
	    td {
		padding-left: $hs;
		padding-right: $hl;
	    }
	}
	tr.odd {
	    th, td {
		background-color: $white;
	    }
	}
	tr.even {
	    th, td {
		background-color: $gray;
	    }
	}
	tr.first {
	    th, td {
		padding-top: $vm;
	    }
	}
	tr.last {
	    th, td {
		padding-bottom: $vm;
	    }
	}
	tr.header {
	    th {
		background-color: $medium-blue;
		font-size: 120%;
		font-weight: bold;
		text-align: center;
	    }
	}
    }
}
tr.submit td {
    padding-top: $vm;
}
.ui-widget-header,
.ui-widget-content {
    color: $very-dark-blue;
}
div.ui-datepicker,
div.ui-widget.ui-widget-content {
    font-size: 14px;
    background-color: $light-blue;
    border: 2px solid $border-blue;
    padding: 0;
    width: auto;
}
div.ui-datepicker div.ui-datepicker-header div.ui-datepicker-title {
    margin-top: 2px;
}
div.ui-datepicker a.ui-datepicker-prev span,
div.ui-datepicker a.ui-datepicker-next span {
    width: 10px;
}
div.ui-datepicker a.ui-datepicker-prev,
div.ui-datepicker a.ui-datepicker-next {
    width: 25px;
    height: 25px;
    top: 4px;
}
div.ui-datepicker a.ui-datepicker-prev {
    left: 5px;
}
div.ui-datepicker a.ui-datepicker-next {
    right: 5px;
}
div.ui-datepicker a.ui-datepicker-prev,
div.ui-datepicker a.ui-datepicker-next {
    background-color: transparent;
    border: none;
}
div.ui-datepicker a.ui-datepicker-prev span {
    background-image: url("/static/b.svg");
    background-position: initial;
    left: 10px;
}
div.ui-datepicker a.ui-datepicker-prev span:hover {
    background-image: url("/static/br.svg");
    background-position: initial;
    left: 10px;
}
div.ui-datepicker a.ui-datepicker-next span {
    background-image: url("/static/f.svg");
    background-position: initial;
    left: 20px;
}
div.ui-datepicker a.ui-datepicker-next span:hover {
    background-image: url("/static/fr.svg");
    background-position: initial;
    left: 20px;
}
div.ui-datepicker th,
div.ui-datepicker td span,
div.ui-datepicker td a {
    padding: 3px 5px;
    text-align: right;
}
div.ui-datepicker div.ui-datepicker-header {
    border: none;
    padding: 0;
    background-color: $medium-blue;
}
table.ui-datepicker-calendar {
    font-size: 14px;
    margin: 2px 0;
}
.ui-corner-all {
    border-radius: 0;
}
a.ui-state-active {
    background-color: $medium-blue;
}
td.ui-datepicker-other-month a {
    color: $white;
}
div.ui-datepicker div.ui-widget-header a:hover {
    color: $red;
}
table.ui-datepicker-calendar a.ui-state-default {
    color: $very-dark-blue;
    background-color: $white;
    border: none;
}
.ui-widget-content .ui-state-default {
    border: none;
}
td.ui-datepicker-today a {
    background-color: $medium-blue;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary,
td.ui-datepicker-other-month a.ui-priority-secondary {
    opacity: 1;
    filter: Alpha(Opacity=100);
    color: $neutral-gray;
}
table.ui-datepicker-calendar tr td:first-child {
    padding-left: 4px;
}
table.ui-datepicker-calendar tr td:last-child {
    padding-right: 4px;
}
table.ui-datepicker-calendar tr:last-child td {
    padding-bottom: 2px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: none;
    background: $medium-blue;
    color: $very-dark-blue;
}
table.ui-datepicker-calendar td.ui-datepicker-current-day a,
table.ui-datepicker-calendar td.ui-datepicker-current-day.ui-datepicker-today a.ui-state-active,
table.ui-datepicker-calendar td.ui-datepicker-current-day a.ui-state-active {
    background-color: $dark-blue;
    color: $white;
}
table.ui-datepicker-calendar td.ui-datepicker-today a.ui-state-default {
    background-color: $medium-blue;
    color: $very-dark-blue;
}
table.ui-datepicker-calendar .ui-state-active.ui-state-highlight:hover,
table.ui-datepicker-calendar td.ui-datepicker-current-day a.ui-state-active:hover,
table.ui-datepicker-calendar a.ui-state-hover {
    background-color: $red;
    color: $white;
}
table.ui-datepicker-calendar td.ui-datepicker-week-end a.ui-state-default {
    font-weight: bold;
}
table.basic {
    margin: auto auto $vh auto;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.bottom {
    vertical-align: bottom;
}
.top {
    vertical-align: top;
}
.nowrap {
    white-space: nowrap;
}
td.links {
    word-spacing: $hs;
    white-space: nowrap;
}
.margin-auto {
    margin: auto;
}
.width-full {
    width: 100%;
}
.width-half {
    width: 50%;
}
.width-two-thirds {
    width: 65%;
}
.width-most {
    width: 85%;
}
.float-right {
    float: right;
}
.mbn {
    margin-bottom: 0;
}
.mbh {
    margin-bottom: $vh;
}
.mbl {
    margin-bottom: $vl;
}
.mbm {
    margin-bottom: $vm;
}
.mts {
    margin-top: $vs;
}
.mtm {
    margin-top: $vm;
}
.mtl {
    margin-top: $vl;
}
.mth {
    margin-top: $vh;
}
.mtg {
    margin-top: $vg;
}
.mra {
    margin-right: auto;
}
.mrn {
    margin-right: 0;
}
.mrl {
    margin-right: $hl;
}
.mll {
    margin-left: $hl;
}
.mls {
    margin-left: $hs;
}
.mla {
    margin-left: auto;
}
.mln {
    margin-left: 0;
}
.mri {
    margin-right: inherit;
}
.mli {
    margin-left: inherit;
}
.ptn {
    padding-top: 0;
}
.pts {
    padding-top: $vs;
}
.pbs {
    padding-bottom: $vs;
}
.pbn {
    padding-bottom: 0;
}
.ptm {
    padding-top: $vm;
}
.ptl {
    padding-top: $vl;
}
.pbl {
    padding-bottom: $vl;
}
.pbm {
    padding-bottom: $vm;
}
.prm {
    padding-right: $hm;
}
.prs {
    padding-right: $hs;
}
.pls {
    padding-left: $hs;
}
.plm {
    padding-left: $hm;
}
.pln {
    padding-left: 0;
}
.margin-none-auto {
    margin: 0 auto;
}
td.msg hr:first-child {
    margin-top: $vh;
}
table.detail {
    margin: $vh auto $vg;
}
.italic {
    font-style: italic;
}
