@import "include";

body, h1, h2, input[type="file"], legend, .immune {
    color: $very-dark-blue;
    background-color: $light-blue;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
body {
    margin: 0;
    font-size: 15px;
}
h1, h2 {
    text-align: center;
}
h1 {
    font: {
	size: 21px;
	weight: bold;
    }
    margin-top: 30px;
}
h2 {
    font: {
	size: 17px;
	weight: normal;
    }
}
table {
    border-collapse: collapse;
}
tr.header, tr.footer, tr.topline {
    background-color: $medium-blue;
}
th {
    font-weight: normal;
    text-align: right;
    vertical-align: middle;
    padding: 4px 3px 6px;
}
thead th {
    font-weight: bold;
    text-align: center;
}
td {
    vertical-align: middle;
    padding: 1px 3px;
}
hr.tablediv {
    margin-top: 2px;
    margin-bottom: 1px;
    border-bottom: 0;
}
div.warning {
    border: {
	style: solid;
	width: 2px;
    }
    padding: 4px 30px;
    text-align: center;
    margin-bottom: 12px;
    background-color: $medium-blue;
}
a {
    color: $dark-blue;
    text-decoration: none;
    &:hover {
	color: $red;
    }
}
.grayed, span.grayed {
    color: $gray;
}
tr.even {
    background-color: $gray;
}
tr.odd {
    background-color: $white;
}
tr.preset.grayed {
    color: $neutral-gray;
}
tr.preset + tr:not(.preset) {
    border-top: 5px solid $medium-blue;
}
tr.even td, tr.odd td, thead th, tr.footer td {
    padding: 3px 13px;
}
tr.even td:first-child, tr.odd td:first-child, thead th:first-child, tr.footer td:first-child {
    padding-left: 20px;
}
tr.even td:last-child, tr.odd td:last-child, thead th:last-child {
    padding-right: 20px;
}
th {
    padding: 3px 5px;
}
.hidden {
    display: none;
}
#detail td, #detail th {
    padding: 3px 10px;
}
.topline * {
    font-size: 12px;
    white-space: nowrap;
}
.res, .subtitle {
    font: {
	style: italic;
	size: 15px;
    }
    text-align: center;
    margin-bottom: 15px;
}
p.foot {
    font-size: 11px;
    text-align: center;
}
fieldset, hr {
    border: {
	style: solid;
	color: $border-blue;
    }
}
fieldset {
    border-width: 2px;
    padding: 2px 5px;
}
legend {
    padding: 0 3px;
}
.err th, .err label, th.err, span.err {
    color: $red;
    font-weight: bold;
}
input[type="text"], input[type="password"], textarea {
    font-size: 13.5px;
}
.err input[type="text"],
.err input[type="password"],
.err textarea, input[type="text"].err,
input[type="password"].err {
    background: $pink;
}
input {
    margin: 3px 0 2px;
    padding: 1px 2px;
}
input[type="submit"], input[type="reset"] {
    padding: 1px 7px;
}
input[type="file"] {
    padding-left: 0;
}
select, input[type="submit"], input[type="reset"] {
    font-size: 13.5px;
}
input[type="radio"] {
    margin: 3px 3px 0 5px;
}
label input[type=radio] {
    margin-left: 10px;
}
label:first-child input[type="radio"] {
    margin-left: 3px;
}
input[type="checkbox"] + span {
    margin-right: 20px;
}
select {
    padding: 1px 2px;
}
.bold, .bold * {
    font-weight: bold;
}
td.msg div {
    text-align: center;
    padding: 0 1em;
    white-space: nowrap;
}
.inlop {
    white-space: nowrap;
}
.inlop input[type="radio"] {
    margin: {
	right: 1px;
	left: 1px;
    }
}
.inlop label {
    margin-left: 15px;
}
.inlop label:first-child {
    margin-left: 0;
}
.disabled {
    color: gray;
}
.toupper {
    text-transform: uppercase;
}
.homeitem div {
    text-align: center;
    margin-bottom: 5px;
}
table.about {
    margin: 20px auto 30px;
}
table.about th {
    padding: 4px 5px 4px 15px;
}
table.about td {
    padding: 4px 15px 4px 10px;
}
table.list {
    margin: 20px auto 30px;
}
.hl {
    color: $red;
}
span.pager {
    color: $dark-blue;
}
svg {
    fill: $dark-blue;
    stroke: none;
}
a svg:hover {
    fill: $red;
}
span.pager {
    span:first-child {
	padding-right: 7px;
    }
    span:last-child {
	padding-left: 7px;
    }
    span.num {
	padding: {
	    left: 8px;
	    right: 8px;
	}
    }
}
span.grayed svg {
    fill: $gray;
}
.opt {
    padding: 3px 8px;
}
tr.bgrid td, tr.bgridwg td, tr.bgrid th, tr.bgridwg th {
    padding: 4px 5px;
}
tr.bgridwg td, tr.bgridwg th {
    padding-bottom: 40px;
}
table.detail {
    thead tr {
	background-color: $medium-blue;
	th {
	    font-size: 120%;
	    padding-bottom: 5px;
	}
    }
    tbody {
	tr {
	    th, td {
		background-color: $white;
		padding-top: 2px;
		padding-bottom: 3px;
	    }
	    th {
		padding-left: 20px;
		padding-right: 2px;
	    }
	    td {
		padding-left: 5px;
		padding-right: 15px;
	    }
	}
	tr.odd {
	    th, td {
		background-color: $white;
	    }
	}
	tr.even {
	    th, td {
		background-color: $gray;
	    }
	}
	tr.first {
	    th, td {
		padding-top: 8px;
	    }
	}
	tr.last {
	    th, td {
		padding-bottom: 10px;
	    }
	}
	tr.header {
	    th {
		background-color: $medium-blue;
		font-size: 120%;
		font-weight: bold;
		text-align: center;
	    }
	}
    }
}
tr.submit td {
    padding-top: 5px;
}
.ui-widget-header,
.ui-widget-content {
    color: $very-dark-blue;
}
div.ui-datepicker,
div.ui-widget.ui-widget-content {
    font-size: 14px;
    background-color: $light-blue;
    border: 2px solid $border-blue;
    padding: 0;
    width: auto;
}
div.ui-datepicker div.ui-datepicker-header div.ui-datepicker-title {
    margin-top: 2px;
}
div.ui-datepicker a.ui-datepicker-prev span,
div.ui-datepicker a.ui-datepicker-next span {
    width: 10px;
}
div.ui-datepicker a.ui-datepicker-prev,
div.ui-datepicker a.ui-datepicker-next {
    width: 25px;
    height: 25px;
    top: 4px;
}
div.ui-datepicker a.ui-datepicker-prev {
    left: 5px;
}
div.ui-datepicker a.ui-datepicker-next {
    right: 5px;
}
div.ui-datepicker a.ui-datepicker-prev,
div.ui-datepicker a.ui-datepicker-next {
    background-color: transparent;
    border: none;
}
div.ui-datepicker a.ui-datepicker-prev span {
    background-image: url("/static/b.svg");
    background-position: initial;
    left: 10px;
}
div.ui-datepicker a.ui-datepicker-prev span:hover {
    background-image: url("/static/br.svg");
    background-position: initial;
    left: 10px;
}
div.ui-datepicker a.ui-datepicker-next span {
    background-image: url("/static/f.svg");
    background-position: initial;
    left: 20px;
}
div.ui-datepicker a.ui-datepicker-next span:hover {
    background-image: url("/static/fr.svg");
    background-position: initial;
    left: 20px;
}
div.ui-datepicker th,
div.ui-datepicker td span,
div.ui-datepicker td a {
    padding: 3px 5px;
    text-align: right;
}
div.ui-datepicker div.ui-datepicker-header {
    border: none;
    padding: 0;
    background-color: $medium-blue;
}
table.ui-datepicker-calendar {
    font-size: 14px;
    margin: 2px 0;
}
.ui-corner-all {
    border-radius: 0;
}
a.ui-state-active {
    background-color: $medium-blue;
}
td.ui-datepicker-other-month a {
    color: $white;
}
div.ui-datepicker div.ui-widget-header a:hover {
    color: $red;
}
.ui-state-default {
    color: $very-dark-blue;
    background: $white;
    border: none;
}
.ui-widget-content .ui-state-default {
    border: none;
}
td.ui-datepicker-today a {
    background-color: $medium-blue;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: 1;
    filter: Alpha(Opacity=100);
    color: $neutral-gray;
}
table.ui-datepicker-calendar tr td:first-child {
    padding-left: 4px;
}
table.ui-datepicker-calendar tr td:last-child {
    padding-right: 4px;
}
table.ui-datepicker-calendar tr:last-child td {
    padding-bottom: 2px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: none;
    background: $medium-blue;
    color: $very-dark-blue;
}
td.ui-datepicker-current-day a,
td.ui-datepicker-current-day.ui-datepicker-today a,
td.ui-datepicker-current-day a.ui-state-active {
    background-color: $dark-blue;
    color: $white;
}
td.ui-datepicker-today a {
    background-color: $medium-blue;
}
.ui-widget-content .ui-state-active.ui-state-highlight:hover,
td.ui-datepicker-current-day a.ui-state-active:hover,
.ui-widget-content a.ui-state-hover {
    background-color: $red;
    color: $white;
}
