@import "include";

table.vattbl {
    th, td {
	text-align: right;
	white-space: nowrap;
	padding: $vn $hs;
    }
    th {
	width: 100%;
	padding-right: $hs;
    }
}
fieldset {
    float: right;
}
fieldset.itemfs {
    margin: $vm 0 $vm auto;
}
