@import "include";

table.vattbl {
    th, td {
	text-align: right;
	white-space: nowrap;
	padding: 1px 3px;
    }
    th {
	width: 100%;
	padding-right: 5px;
    }
}
fieldset {
    float: right;
}
fieldset.itemfs {
    margin: 5px 0 5px auto;
}
