@import "include";

fieldset {
    margin: $vl auto;
}
div.note {
    text-align: center;
    font-size: $small;
    padding-bottom: $vs;
}
td.msg {
    div.msg-res {
	font-size: $large;
	font-weight: bold;
    }
    div.msg-note {
	font-size: $small;
    }
}
