{% extends "main.html" %}

{% block page_contents %}
        <form method="post" enctype="multipart/form-data">
	  <table style="margin: auto auto 30px auto;">
	    <tr>
	      <td></td>
	      <td colspan="2">
		<h1 style="text-align: left; margin-bottom: 8px; ">{{ page_title }}</h1>
	      </td>
	    </tr>
{% if err_message %}            <tr><td></td><td colspan="2" class="warning">
              {% include "formwarning.html" %}            </td></tr>
{% endif %}	    <tr>
	      <th class="{% if f.date_from.errors or f.date_to.errors %}err{% endif %}">
		Datum:
	      </th>
	      <td colspan="2" style="white-space: nowrap;">
		<span class="{{ f.date_from.css_classes }}" id="id_date_from_span">{{ f.date_from }}</span>
		–
		<span class="{{ f.date_to.css_classes }}" id="id_date_to_span">{{ f.date_to }}</span>
	      </td>
	    </tr>
	    <tr>
	      <th>{{ f.court.label_tag }}</th>
	      <td colspan="2">
		<select name="court" id="id_court" style="width: 100%;">
		  <option value="">(všechny)</option>
{% for court in courts %}		  <option value="{{ court.id }}">{{ court.name }}</option>
{% endfor %}	        </select>
	      </td>
	    </tr>
	    <tr>
	      <th class="{% if f.senate.errors or f.register.errors or f.number.errors or f.year.errors or f.page.errors %}err{% endif %}">
		Spisová značka:
	      </th>
	      <td colspan="2" style="white-space: nowrap;">
		<input id="id_senate" size="4" type="text" name="senate" maxlength="8" value="{{ f.senate.value }}" class="{{ f.senate.css_classes }}" />
		<input id="id_register" size="4" type="text" name="register" maxlength="8" value="{{ f.register.value }}" class="{{ f.register.css_classes }}" />
		<input id="id_number" size="4" type="text" name="number" maxlength="8" value="{{ f.number.value }}" class="{{ f.number.css_classes }}" />
		/
		<input id="id_year" size="4" type="text" name="year" maxlength="4" value="{{ f.year.value }}" class="{{ f.year.css_classes }}" />
	      </td>
	    </tr>
	    <tr>
	      <th>{{ f.courtroom.label_tag }}</th>
	      <td colspan="2">
		<select name="courtroom" id="id_courtroom" style="width: 100%;">
		  <option value="">(všechny)</option>
	        </select>
	      </td>
	    </tr>
	    <tr>
	      <th>{{ f.judge.label_tag }}</th>
	      <td colspan="2">
		<select name="judge" id="id_judge" style="width: 100%;">
		  <option value="">(všichni)</option>
	        </select>
	      </td>
	    </tr>
	    <tr>
	      <th>{{ f.party.label_tag }}</th>
	      <td colspan="2" style="white-space: nowrap;">
		<span>{{ f.party }}</span>
{% for p in f.party_opt %}		  {{ p }}
{% endfor %}	      </td>
	    </tr>
	    <tr>
	      <td></td>
	      <td>
		<input type="submit" name="submit" value="Hledat" />
	      </td>
	      <td style="text-align: right;">
		<input type="reset" name="reset" value="Vymazat" />
		{% csrf_token %}
	      </td>
	    </tr>
	  </table>
	</form>
{% endblock %}
