{% extends "main.html" %}

{% block page_contents %}
        <h1 class="mbn">{{ page_title }}</h1>{% if rows %}
	<div class="subtitle">Počet výsledků: {{ total }}</div>
	<table class="margin-auto">
	  <thead>
	    <tr class="header">
	      <th>
		<div>
		  Soud
		</div>
		<div>
		  Jednací síň
		</div>
	      </th>
	      <th>
		<div>
		  Datum a čas
		</div>
		<div>
		  Spisová značka
		</div>
	      </th>
	      <th>
		<div>
		  Řešitel
		</div>
		<div>
		  Druh jednání
		</div>
	      </th>
	      <th>
		Účastníci řízení
	      </th>
	      <th>
		Poznámky
	      </th>
	      <th>
		infoSoud
	      </th>
	    </tr>
	  </thead>
	  <tbody>{% for row in rows %}
	    <tr class="{% cycle "odd" "even" %}">
	      <td>
		<div>
		  {{ row.courtroom.court.name }}
		</div>
		<div>
		  {{ row.courtroom.desc }}
		</div>
	      </td>
	      <td class="nowrap">
		<div>
		  {{ row.time|date:'d.m.Y H:i' }}
		</div>
		<div>
		  {% if row.senate %}{{ row.senate }} {% endif %}{{ row.register }} {{ row.number }}/{{ row.year }}
		</div>
	      </td>
	      <td>
		<div>
		  {{ row.judge }}
		</div>
		<div>
		  {{ row.form }}
		</div>
	      </td>
	      <td>{% for party in row.parties.all %}
		<div>
		  {{ party.name }}
		</div>{% endfor %}
	      </td>
	      <td class="center">
		{% if row.closed %}<div>neveřejné</div>{% endif %}
		{% if row.cancelled %}<div>zrušeno</div>{% endif %}
	      </td>
	      <td class="center nowrap">
		{% if row.time|date:'U' >= today|date:'U' %}<a href="http://infosoud.justice.cz/InfoSoud/public/searchJednani.do?type=spzn&amp;typSoudu=os&amp;krajOrg={% if row.courtroom.court.reports %}{{ row.courtroom.court.reports_id }}{% else %}{{ row.courtroom.court_id }}{% endif %}&amp;org={{ row.courtroom.court_id }}&amp;cisloSenatu={{ row.senate }}&amp;druhVec={{ row.register|upper|urlencode }}&amp;bcVec={{ row.number }}&amp;rocnik={{ row.year }}&amp;spamQuestion=23" target="_blank">
		  [J]
		</a>{% endif %}		<a href="http://infosoud.justice.cz/InfoSoud/public/search.do?org={{ row.courtroom.court_id }}&amp;krajOrg={% if row.courtroom.court.reports %}{{ row.courtroom.court.reports_id }}{% else %}{{ row.courtroom.court_id }}{% endif %}&amp;cisloSenatu={{ row.senate }}&amp;druhVec={{ row.register|urlencode }}&amp;bcVec={{ row.number }}&amp;rocnik={{ row.year }}&amp;typSoudu={% if row.court_id == 'NSJIMBM' %}ns{% else %}os{% endif %}&amp;autoFill=true&amp;type=spzn" target="_blank">
		  [Ř]
		</a>
	      </td>
	    </tr>{% endfor %}
	  </tbody>{% if not suppress_table_footer %}
          <tfoot>
	    <tr class="footer">
	      <td colspan="6" class="right">
		{% include "pager.html" %}
	      </td>
	    </tr>
	  </tfoot>{% endif %}
	</table>{% else %}        <p class="center">(žádné výsledky)</p>{% endif %}
        <p class="center"><a href="{% url 'psj:mainpage' %}">Zpět na vyhledávací formulář</a></p>{% endblock %}
