{% extends 'main.html' %}

{% block page_contents %}
<form method="post" enctype="multipart/form-data">
<table class="form">
<thead>
<tr>
<td></td>
<td colspan="2"><h1>{{ page_title }}</h1></td>
</tr>
<tr>
<th></th>
<th>Samostatný dlužník</th>
<th>Společný návrh manželů</th>
</tr>
</thead>
<tbody>
<tr>
<th{% if form.netincome.errors or form.netincome2.errors %} class="err"{% endif %}>{{ form.netincome.label_tag }}</th>
<td class="{{ form.netincome.css_classes }}">{{ form.netincome }}<span>Kč/měsíc</span>
</td>
<td class="{{ form.netincome2.css_classes }}">{{ form.netincome2 }}<span>Kč/měsíc (druhý manžel)</span></td>
</tr>
<tr>
<th>{{ form.partner.label_tag }}</th>
<td>{{ form.partner }}</td>
<td>{{ form.partner2 }}</td>
</tr>
<tr>
<th{% if form.deps.errors or form.deps2.errors %} class="err"{% endif %}>{{ form.deps.label_tag }}</th>
<td class="{{ form.deps.css_classes }}">{{ form.deps }}</td>
<td class="{{ form.deps2.css_classes }}">{{ form.deps2 }}<span>(druhý manžel)</span></td>
</tr>
<tr class="{{ form.subs.css_classes }}">
<th>{{ form.subs.label_tag }}</th>
<td colspan="2">{{ form.subs }}<span>Kč/měsíc</span></td>
</tr>
<tr class="{{ form.apt.css_classes }}">
<th>{{ form.apt.label_tag }}</th>
<td colspan="2">{{ form.apt }}<span>Kč/měsíc</span></td>
</tr>
<tr>
<th{% if form.fee.errors or form.fee2.errors %} class="err"{% endif %}>{{ form.fee.label_tag }}</th>
<td class="{{ form.fee.css_classes }}">{{ form.fee }}<span>Kč/měsíc</span></td>
<td class="{{ form.fee2.css_classes }}">{{ form.fee2 }}<span>Kč/měsíc</span></td>
</tr>
<tr>
<th{% if form.exp.errors or form.exp2.errors %} class="err"{% endif %}>{{ form.exp.label_tag }}</th>
<td class="{{ form.exp.css_classes }}">{{ form.exp }}<span>Kč/měsíc</span></td>
<td class="{{ form.exp2.css_classes }}">{{ form.exp2 }}<span>Kč/měsíc</span></td>
</tr>
<tr>
<th>{{ form.vat.label_tag }}</th>
<td colspan="2">{{ form.vat }}</td>
</tr>
<tr class="{{ form.vatrate.css_classes }}">
<th>{{ form.vatrate.label_tag }}</th>
<td colspan="2" class="nowrap">{{ form.vatrate }}<span>%</span></td>
</tr>
<tr class="submit">
<td></td>
<td><input type="submit" name="submit_single" value="Vypočítat"></td>
<td><input type="submit" name="submit_dual" value="Vypočítat">{% csrf_token %}</td>
</tr>
{% if messages %}
<tr>
<td colspan="3" class="msg"><hr>{% for message in messages %}<div{% if message.1 %} class="{{ message.1|safe }}"{% endif %}>{{ message.0|safe }}</div>{% endfor %}<hr></td>
</tr>
</tbody>
{% endif %}
</table>
</form>
{% endblock %}
