{% extends "main.html" %}

{% block page_contents %}
	<form method="post" enctype="multipart/form-data" id="id_debtorbatchform">
	  <h1 style="margin-bottom: 8px;">{{ page_title }}</h1>
	  <table style="margin: 15px auto 25px;">
{% if err_message %}            <tr><td class="warning">
              {% include "formwarning.html" %}            </td></tr>
{% endif %}	    </tr>
	    <tr>
	      <td>
		<p>Zvolte soubor CSV pro načtení dlužníků.</p>
		<p>Soubor musí být v kodu UTF-8 a jeho formát musí přesně odpovídat následujícímu popisu.</p>
		<p>V prvním poli na každém řádku je uveden řetězec, který se použije pro Popis dlužníka.<br />Dále následují vyhledávací parametry. Ty se zadávají ve formátu pole=hodnota; pole může<br />nabývat hodnotu <q>soud</q>, <q>název</q> <q>IČO</q>, <q>DIČ</q>, <q>RČ</q>, <q>datumNarození</q>, <q>rokNarozeníOd</q><br />nebo <q>rokNarozeníDo</q>. Vyhledávací parametry, které se nepoužijí, není třeba zadávat.</p>
		<p>Insolvenční soud se zadává zkratkou podle <a href="{% url 'sir:courts' %}">seznamu</a>. Datum narození se zadává ve formátu<br />DD.MM.RRRR. Jakou hodnotu bude mít importovaný řetězec pro název, jméno a obec v poli<br />Posice, můžete ovlivnit formátovacím příznakem, který uvedete na konci řetězce za dvojtečkou.</p>
		<p style="margin-bottom: 0;">Možnosti jsou:</p>
		<ul style="margin-top: 3px;">
		  <li>řetězec:* &ndash; kdekoliv (implicitní hodnota)</li>
		  <li>řetězec:< &ndash; na začátku</li>
		  <li>řetězec:> &ndash; na konci</li>
		  <li>řetězec:= &ndash; přesně</li>
		</ul>
		<p>Soubor CSV v požadovaném formátu, který můžete ručně editovat, získáte funkcí Export.</p>
	      </td>
	    </tr>
	    <tr>
	      <td><input type="file" name="load" accept="text/csv" id="id_load" /></td>
	    </tr>
	    <tr>
	      <td><input type="submit" name="submit_load" value="Načíst" id="id_load_button" /></td>
	    </tr>
	  </table>
          <p style="text-align: center;">
	    <a href="{% url 'dir:mainpage' %}">
	      Zpět na seznam sledovaných dlužníků
	    </a>
	  </p>
	  <div class="hidden">{{ f.next }}</div>
	  {% csrf_token %}
	</form>
{% endblock %}
