{% extends "main.html" %}

{% block page_contents %}
        <h1>{{ page_title }}</h1>{% if rows %}
	<table id="list" class="margin-auto">
	  <thead>
	    <tr class="header">
	      <th class="left">Popis</th>
	      <th>Akce</th>
	    </tr>
	  </thead>{% if not suppress_table_footer %}
          <tfoot>
	    <tr class="footer">
	      <td>
		<a href="{% url 'dir:debtorform' %}">Přidat dlužníka</a>
	      </td>
	      <td colspan="2" class="right">
		{% include "pager.html" %}
	      </td>
	    </tr>
	  </tfoot>{% endif %}
	  <tbody>{% for row in rows %}
	    <tr class="{% cycle "odd" "even" %}">
	      <td>{{ row.desc }}</td>
	      <td class="links">
		<a href="{% url 'dir:debtorform' row.id %}">upravit</a>
		<a href="{% url 'dir:debtordel' row.id %}">smazat</a>
		<a href="{% url 'pir:htmllist' %}?{{ row.search }}">vyhledat</a>
	      </td>
	    </tr>{% endfor %}
	  </tbody>
	</table>
        <p class="center">
	  <a href="{% url 'dir:debtorbatchform' %}">
	    Import
	  </a>
	  /
	  <a href="{% url 'dir:debtorexport' %}">
	    Export
	  </a>
	  /
	  <a href="{% url 'dir:debtordelall' %}">
	    Smazat vše
	  </a>
	</p>{% else %}
        <p class="center">
	  (nesledujete žádné dlužníky)
	</p>
        <p class="center">
	  <a href="{% url 'dir:debtorform' %}">
	    Přidat dlužníka
	  </a>
	  /
	  <a href="{% url 'dir:debtorbatchform' %}">
	    Import
	  </a>
	</p>{% endif %}
    <form method="post" enctype="multipart/form-data">
      <table style="margin: 20px auto 15px auto;">
{% if err_message %}	      <tr>
		  <td colspan="3" class="warning">
		    {% include "formwarning.html" %}
		  </td>
	        </tr>
{% endif %}        <tr>
		  <th class="{{ f.email_error }}">{{ f.email.label_tag }}</th>
		  <td>{{ f.email }}</td>
		  <td><input type="submit" name="submit" value="Změnit" /></td>
	    </tr>
      </table>
      {% csrf_token %}
    </form>
{% endblock %}
