{% extends "main.html" %}

{% block page_contents %}
        <h1 class="mbn">{{ page_title }}</h1>
	<div class="subtitle">{{ subtitle|safe }}</div>
	<table class="detail" style="margin: 25px auto 35px;">
	  <thead>
	    <tr>
	      <th colspan="2">
		Základní údaje
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr class="first">
	      <th>
		Příjmení/název:
	      </th>
	      <td>
		{{ osoba.nazevOsoby }}
	      </td>
	    </tr>
	    <tr>
	      <th>
		Jméno:
	      </th>
	      <td>
		{{ osoba.jmeno|default:'' }}
	      </td>
	    </tr>
	    <tr>
	      <th>
		Obchodní jméno:
	      </th>
	      <td>
		{{ osoba.nazevOsobyObchodni|default:'' }}
	      </td>
	    </tr>
	    <tr>
	      <th>
		Tituly před jménem:
	      </th>
	      <td>
		{{ osoba.titulPred|default:'' }}
	      </td>
	    </tr>
	    <tr>
	      <th>
		Tituly za jménem:
	      </th>
	      <td>
		{{ osoba.titulZa|default:'' }}
	      </td>
	    </tr>
	    <tr>
	      <th>
		Identifikační číslo osoby (IČO):
	      </th>
	      <td>
		{{ osoba.ic|default:'' }}
	      </td>
	    </tr>
	    <tr>
	      <th>
		Daňové identifikační číslo (DIČ):
	      </th>
	      <td>
		{{ osoba.dic|default:'' }}
	      </td>
	    </tr>
	    <tr>
	      <th>
		Datum narození:
	      </th>
	      <td>
		{{ osoba.datumNarozeni|date:'d.m.Y'|default:'' }}
	      </td>
	    </tr>
	    <tr class="last">
	      <th>
		Rodné číslo:
	      </th>
	      <td>
		{{ birthid }}
	      </td>
	    </tr>
	  </tbody>
	</table>{% if adresy %}
	<table class="basic detail">
	  <thead>
	    <tr>
	      <th colspan="2">
		{% if adresy|length_is:'1' %}Adresa{% else %}Adresy{% endif %}
	      </th>
	    </tr>
	  </thead>
	  <tbody>{% for adresa in adresy %}
	    <tr class="{{ adresa.cl }} first">
	      <th>
		Obec:
	      </th>
	      <td>
		{{ adresa.mesto|default:'' }}
	      </td>
	    </tr>
	    <tr class="{{ adresa.cl }}">
	      <th>
		Ulice:
	      </th>
	      <td>
		{{ adresa.ulice|default:'' }}
	      </td>
	    </tr>
	    <tr class="{{ adresa.cl }}">
	      <th>
		Číslo:
	      </th>
	      <td>
		{{ adresa.cisloPopisne|default:'' }}
	      </td>
	    </tr>
	    <tr class="{{ adresa.cl }}">
	      <th>
		Okres:
	      </th>
	      <td>
		{{ adresa.okres|default:'' }}
	      </td>
	    </tr>
	    <tr class="{{ adresa.cl }}">
	      <th>
		Země:
	      </th>
	      <td>
		{{ adresa.zeme|default:'' }}
	      </td>
	    </tr>
	    <tr class="{{ adresa.cl }}">
	      <th>
		PSČ:
	      </th>
	      <td>
		{{ adresa.psc }}
	      </td>
	    </tr>
	    <tr class="{{ adresa.cl }}">
	      <th>
		Telefon:
	      </th>
	      <td>
		{{ adresa.telefon|default:'' }}
	      </td>
	    </tr>
	    <tr class="{{ adresa.cl }}">
	      <th>
		Fax:
	      </th>
	      <td>
		{{ adresa.fax|default:'' }}
	      </td>
	    </tr>
	    <tr class="{{ adresa.cl }}">
	      <th>
		E-mail:
	      </th>
	      <td>
		{{ adresa.textAdresy|default:'' }}
	      </td>
	    </tr>
	    <tr class="{{ adresa.cl }} last">
	      <th>
		Druh adresy:
	      </th>
	      <td>
		{{ adresa.type }}
	      </td>
	    </tr>{% endfor %}
	  </tbody>
	</table>{% endif %}{% endblock %}
