{% extends "main.html" %}

{% block page_contents %}
        <form method="post" enctype="multipart/form-data">
	  <table class="basic">
	    <tr>
	      <td></td>
	      <td colspan="2">
		<h1 class="left">{{ page_title }}</h1>
	      </td>
	    </tr>
{% if err_message %}            <tr><td></td><td colspan="2" class="warning">
              {% include "formwarning.html" %}            </td></tr>
{% endif %}	    <tr>
	      <th>{{ forms.court.label_tag }}</th>
	      <td colspan="2">
		<select name="court" id="id_court">
		  <option value="">(všechny)</option>
{% for court in courts %}		  <option value="{{ court.id }}">{{ court.name }}</option>
{% endfor %}	        </select>
	      </td>
	    </tr>
	    <tr>
	      <th class="{% if forms.senate.errors or forms.register.errors or forms.number.errors or forms.year.errors or forms.page.errors %}err{% endif %}">
		Spisová značka:
	      </th>
	      <td colspan="2" class="nowrap">
		<input id="id_senate" size="4" type="text" name="senate" maxlength="8" value="{{ forms.senate.value }}" class="{{ forms.senate.css_classes }}" />
		INS
		<input id="id_number" size="4" type="text" name="number" maxlength="8" value="{{ forms.number.value }}" class="{{ forms.number.css_classes }}" />
		/
		<input id="id_year" size="4" type="text" name="year" maxlength="4" value="{{ forms.year.value }}" class="{{ forms.year.css_classes }}" />
	      </td>
	    </tr>
	    <tr>
	      <th class="{% if forms.date_first_from.errors or forms.date_first_to.errors %}err{% endif %}">
		Datum prvního záznamu:
	      </th>
	      <td colspan="2" class="nowrap">
		<span class="{{ forms.date_first_from.css_classes }}" id="id_date_first_from_span">{{ forms.date_first_from }}</span>
		–
		<span class="{{ forms.date_first_to.css_classes }}" id="id_date_first_to_span">{{ forms.date_first_to }}</span>
	      </td>
	    </tr>
	    <tr>
	      <th class="{% if forms.date_last_from.errors or forms.date_last_to.errors %}err{% endif %}">
		Datum posledního záznamu:
	      </th>
	      <td colspan="2" class="nowrap">
		<span class="{{ forms.date_last_from.css_classes }}" id="id_date_last_from_span">{{ forms.date_last_from }}</span>
		–
		<span class="{{ forms.date_last_to.css_classes }}" id="id_date_last_to_span">{{ forms.date_last_to }}</span>
	      </td>
	    </tr>
	    <tr>
	      <th>{{ forms.name.label_tag }}</th>
	      <td colspan="2" class="nowrap">
		<span>{{ forms.name }}</span>
{% for p in forms.name_opt %}		  {{ p }}
{% endfor %}	      </td>
	    </tr>
	    <tr>
	      <th>{{ forms.first_name.label_tag }}</th>
	      <td colspan="2" class="nowrap">
		<span>{{ forms.first_name }}</span>
{% for p in forms.first_name_opt %}		  {{ p }}
{% endfor %}	      </td>
	    </tr>
	    <tr>
	      <th>{{ forms.city.label_tag }}</th>
	      <td colspan="2" class="nowrap">
		<span>{{ forms.city }}</span>
{% for p in forms.city_opt %}		  {{ p }}
{% endfor %}	      </td>
	    </tr>
	    <tr>
	      <th>{{ forms.genid.label_tag }}</th>
	      <td colspan="2">
		<span>{{ forms.genid }}</span>
	      </td>
	    </tr>
	    <tr>
	      <th>{{ forms.taxid.label_tag }}</th>
	      <td colspan="2">
		<span>{{ forms.taxid }}</span>
	      </td>
	    </tr>
	    <tr>
	      <th>{{ forms.birthid.label_tag }}</th>
	      <td colspan="2">
		<span>{{ forms.birthid }}</span>
		(včetně lomítka)
	      </td>
	    </tr>
	    <tr>
	      <th>{{ forms.date_birth.label_tag }}</th>
	      <td colspan="2">
		<span>{{ forms.date_birth }}</span>
	      </td>
	    </tr>
	    <tr>
	      <th class="{% if forms.year_birth_from.errors or forms.year_birth_to.errors %}err{% endif %}">
		Rok narození:
	      </th>
	      <td colspan="2" class="nowrap">
		<span class="{{ forms.year_birth_from.css_classes }}" id="id_year_birth_from_span">{{ forms.year_birth_from }}</span>
		–
		<span class="{{ forms.year_birth_to.css_classes }}" id="id_year_birth_to_span">{{ forms.year_birth_to }}</span>
	      </td>
	    </tr>
	    <tr>
	      <th>
		Procesní postavení:
	      </th>
	      <td colspan="2" class="nowrap">
		{{ forms.role_debtor }}
		<span>{{ forms.role_debtor.label_tag }}</span>
		{{ forms.role_trustee }}
		<span>{{ forms.role_trustee.label_tag }}</span>
		{{ forms.role_motioner }}
		<span>{{ forms.role_motioner.label_tag }}</span>
		{{ forms.role_creditor }}
		<span>{{ forms.role_creditor.label_tag }}</span>
	      </td>
	    </tr>
	    <tr>
	      <th>
		Výpis:
	      </th>
	      <td colspan="2" class="nowrap">
		{{ forms.deleted }}
		<span>{{ forms.deleted.label_tag }}</span>
		{{ forms.creditors }}
		<span>{{ forms.creditors.label_tag }}</span>
	    <tr>
	      <th>{{ forms.format.label_tag }}</th>
	      <td colspan="2">
{% for p in forms.format %}		  {{ p }}
{% endfor %}	      </td>
	    </tr>
	    <tr class="submit">
	      <td></td>
	      <td>
		<input type="submit" name="submit" value="Hledat" />
	      </td>
	      <td class="right"
		<input type="reset" name="reset" value="Vymazat" />
		{% csrf_token %}
	      </td>
	    </tr>
	  </table>
	</form>
{% endblock %}
