{% extends 'main.html' %}

{% block page_contents %}
<form id="id_partyform" method="post" enctype="multipart/form-data">
<table class="form">
<tbody>
<tr>
<td></td>
<td colspan="2"><h1>{{ page_title }}</h1></td>
</tr>
{% if err_message %}
<tr>
<td></td>
<td colspan="2">{% include 'formwarning.html' %}</td>
</tr>
{% endif %}
<tr class="{{ form.party.css_classes }}">
<th>{{ form.party.label_tag }}</th>
<td colspan="2" class="nowrap">{{ form.party }}<span>(min. {{ min_chars }})</span></td>
</tr>
<tr>
<th>{{ form.party_opt.label_tag }}</th>
<td colspan="2" class="inlop">
{% for p in form.party_opt %}
{{ p }}
{% endfor %}
</td>
</tr>
{% include 'submit.html' %}
</tbody>
</table>
{% csrf_token %}
</form>
{% endblock %}
