{% extends 'main.html' %}

{% block page_contents %}
<form method="post" enctype="multipart/form-data" id="id_partybatchform">
<h1>{{ page_title }}</h1>
<table class="centered">
<tbody>
{% if err_message %}
<tr>
<td>{% include 'formwarning.html' %}</td>
</tr>
{% endif %}
<tr>
<td>
<p>Zvolte soubor CSV pro načtení účastníků.</p>
<p>Soubor musí být v kodu UTF-8 a musí na každém řádku obsahovat jeden vyhledávací řetězec.<br>Přípustná délka řetězce je {{ min_length }} až {{ max_length }} znaků. Řetězce, které nevyhovují délkou, budou při importu<br>ignorovány. Jakou hodnotu bude mít importovaný řetězec v poli Posice, můžete ovlivnit<br>formátovacím příznakem, který uvedete na konci řetězce za dvojtečkou.</p>
<p class="options">Možnosti jsou:</p>
<ul>
<li>řetězec:* – kdekoliv (implicitní hodnota)</li>
<li>řetězec:&lt; – na začátku</li>
<li>řetězec:&gt; – na konci</li>
<li>řetězec:= – přesně</li>
</ul>
<p>Soubor CSV v požadovaném formátu, který můžete ručně editovat, získáte funkcí Export.</p>
</td>
</tr>
{% include 'batch_buttons.html' %}
</tbody>
</table>
{% csrf_token %}
</form>
<p><a href="{% url 'sur:mainpage' %}">Zpět na seznam sledovaných účastníků</a></p>
{% endblock %}
