{% extends "main.html" %}

{% block page_contents %}
<form method="post" enctype="multipart/form-data">
  <table style="margin: auto;">
    <tr>
      <td></td>
      <td colspan="2">
	<h1 style="text-align: left; margin-bottom: 5px;">
	  {{ page_title }}
	</h1>
      </td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2" style="padding-bottom: 10px;">
	Po zadání uživatelského jména obdržíte e-mailem link pro obnovení hesla.
	<br />
	Pokud není pro daného uživatele e-mail zadán, heslo nelze nijak obnovit.
      </td>
    </tr>
{% if err_message %}            <tr><td></td><td colspan="2" class="warning">
              {% include "formwarning.html" %}            </td></tr>
{% endif %}	    <tr>
    <tr class="{{ f.username.css_classes }}">
      <td style="text-align: right;">
	{{ f.username.label_tag }}
      </td>
      <td colspan="2">
	{{ f.username }}
      </td>
    </tr>
    <tr>
      <td style="text-align: right;"></td>
      <td>
	<input type="submit" name="submit" value="Poslat link" />
      </td>
      <td style="text-align: right;">
	<input type="submit" name="back" value="Zpět" />
	{% csrf_token %}
      </td>
    </tr>
  </table>
</form>
{% endblock %}
