{% extends "main.html" %}

{% block page_contents %}
<form method="post" enctype="multipart/form-data">
  <table style="margin: auto;">
    <tr>
      <td></td>
      <td colspan="2">
	<h1 style="text-align: left; margin-bottom: 5px;">
	  {{ page_title }}
	</h1>
      </td>
    </tr>
    {% if error_message %}<tr>
      <td colspan="3" class="warning">
	<div class="warning">
	  {{ error_message }}
	</div>
      </td>
    </tr>{% endif %}
    <tr>
      <td style="text-align: right;">
	<label for="id_oldpw">
	  Staré heslo
	</label>:
      </td>
      <td colspan="2">
	<input type="password" name="oldpw" value="{{ oldpw }}" id="id_oldpw" />
      </td>
    </tr>
    <tr>
      <td style="text-align: right; padding-top: 6px;">
	<label for="id_newpw1">
	  Nové heslo
	</label>:
      </td>
      <td colspan="2" style="padding-top: 6px;">
	<input type="password" name="newpw1" value="{{ newpw1 }}" id="id_newpw1" />
      </td>
    </tr>
    <tr>
      <td style="text-align: right;">
	<label for="id_newpw2">
	  Nové heslo znovu
	</label>:
      </td>
      <td colspan="2">
	<input type="password" name="newpw2" value="{{ newpw2 }}" id="id_newpw2" />
      </td>
    </tr>
    <tr>
      <td style="text-align: right;"></td>
      <td>
	<input type="submit" name="submit" value="Změnit" />
      </td>
      <td style="text-align: right;">
	<input type="submit" name="back" value="Zpět" />
	{% csrf_token %}
      </td>
    </tr>
  </table>
</form>
{% endblock %}
