{% extends "main.html" %}

{% block page_contents %}
        <h1>{{ page_title }}</h1>{% if rows %}
	<table id="list" class="margin-auto">
	  <thead>
	    <tr class="header">
	      <th class="left">Řetězec</th>
	      <th class="left">Posice</th>
	      <th>Akce</th>
	    </tr>
	  </thead>{% if not suppress_table_footer %}
          <tfoot>
	    <tr class="footer">
	      <td>
		<a href="{% url 'sur:partyform' %}">Přidat účastníka</a>
	      </td>
	      <td colspan="2" class="right">
		{% include "pager.html" %}
	      </td>
	    </tr>
	  </tfoot>{% endif %}
	  <tbody>{% for row in rows %}
	    <tr class="{% cycle "odd" "even" %}">
	      <td>{{ row.party }}</td>
	      <td class="nowrap">{{ row.party_opt_text }}</td>
	      <td class="links">
		<a href="{% url 'sur:partyform' row.id %}">upravit</a>
		<a href="{% url 'sur:partydel' row.id %}">smazat</a>
		<a href="{% url 'psj:htmllist' %}?{{ row.search }}">vyhledat/IS</a>
		<a href="{% url 'udn:htmllist' %}?{{ row.search }}">vyhledat/NSS</a>
	      </td>
	    </tr>{% endfor %}
	  </tbody>
	</table>
        <p class="center">
	  <a href="{% url 'sur:partybatchform' %}">Import</a>
	  /
	  <a href="{% url 'sur:partyexport' %}">Export</a>
	  /
	  <a href="{% url 'sur:partydelall' %}">Smazat vše</a>
	</p>{% else %}
          <p class="center">(nesledujete žádné účastníky řízení)</p>
          <p class="center">
	    <a href="{% url 'sur:partyform' %}">Přidat účastníka</a>
	    /
	    <a href="{% url 'sur:partybatchform' %}">Import</a>
	  </p>{% endif %}
    <form method="post" enctype="multipart/form-data">
      <table class="mth mra mbh mla">
{% if err_message %}	      <tr>
		  <td colspan="3" class="warning">
		    {% include "formwarning.html" %}
		  </td>
	        </tr>
{% endif %}        <tr>
		  <th class="{{ form.email_error }}">{{ form.email.label_tag }}</th>
		  <td>{{ form.email }}</td>
		  <td><input type="submit" name="submit" value="Změnit" /></td>
	    </tr>
      </table>
      {% csrf_token %}
    </form>
{% endblock %}
