@import "include";

fieldset {
    margin: $vl auto;
}
div.note {
    text-align: center;
    font-size: $small;
    padding-bottom: $vs;
}
td.msg {
    div.msg-res {
	font-size: $larger;
	font-weight: bold;
	margin-bottom: $vs;
    }
    div.msg-normal {
	margin-bottom: $vt;
    }
}
