@import "include";

fieldset {
    margin: 10px auto;
}
div.note {
    text-align: center;
    font-size: 80%;
    padding-bottom: 3px;
}
td.msg {
    div.msg-res {
	font-size: 115%;
	font-weight: bold;
	margin-bottom: 3px;
    }
    div.msg-normal {
	margin-bottom: 2px;
    }
}
