@import "include";

fieldset.intbl {
    margin: $vh 0;
    padding: 0 $hl;
}
.intbl {
    table {
	margin: $vm auto;
	width: 100%;
    }
    th, td {
	text-align: left;
	padding: $vs 0 $hm;
    }
    hr {
	margin: 0;
    }
}
.intbl tr.disabled th * {
    color: $very-dark-blue;
    font-weight: normal;
}
.dr, .drs {
    color: $red;
}
td.cr, td.dr, td.crs, td.drs {
    text-align: right;
}
tr.header:first-child th {
    padding-bottom: 0;
}
td.taberr {
    text-align: center;
    font-style: italic;
    background: {
	color: $white;
 	image: url('/static/cb.svg');
	repeat: repeat;
    }
    border-top: $bs solid $medium-blue;
}
#id_calc td + td {
    border-left: $bs solid $medium-blue;
}
#id_calc td + td.crs, #id_calc td + td.drs {
    border-left: none;
}
td.dat {
    text-align: center;
}
td.act {
    word-spacing: $hs;
    white-space: nowrap;
}
