@import "include";

fieldset.infotbl {
    padding: 5px 15px;
}
fieldset.intbl {
    margin: 20px 0;
    padding: 0 15px;
}
.intbl {
    table {
	margin: 5px auto;
	width: 100%;
    }
    th, td {
	text-align: left;
	padding: 4px 0 8px;
    }
    hr {
	margin: 0;
    }
}
.intbl tr.disabled th * {
    color: $very-dark-blue;
    font-weight: normal;
}
.dr, .drs {
    color: $red;
}
td.cr, td.dr, td.crs, td.drs {
    text-align: right;
}
tr.header:first-child th {
    padding-bottom: 0;
}
td.taberr {
    text-align: center;
    font-style: italic;
    background: {
	color: $white;
 	image: url('/static/cb.svg');
	repeat: repeat;
    }
    border-top: 1px solid $medium-blue;
}
#id_calc td + td {
    border-left: 1px solid $medium-blue;
}
#id_calc td + td.crs, #id_calc td + td.drs {
    border-left: none;
}
td.dat {
    text-align: center;
}
td.act {
    word-spacing: 5px;
    white-space: nowrap;
}
table.butbar {
    margin: $vh auto;
    td {
	padding: 1px 12px;
    }
}
