{% extends "main.html" %}

{% block page_contents %}
<h1 style="margin-bottom: 8px;">{{ page_title }}</h1>
<p style="text-align: center;">Počet načtených řízení: {{ count }}</p>{% if errors %}
<table style="margin: 0 auto;">
  <tbody>
    <tr>
      <td>
        <p>Při importu došlo k chybám:</p>
        <ul>{% for error in errors %}
          <li>
	    Řádek {{ error.0 }}: {{ error.1|safe }}
	  </li>
{% endfor %}        </ul>
      </td>
    </tr>
  </tbody>
</table>
{% endif %}<p style="text-align: center;">
  <a href="{% url 'szr:mainpage' %}">
    Zpět na seznam sledovaných řízení
  </a>
</p>
{% endblock %}
