{% extends "main.html" %}

{% block page_contents %}
        <h1>{{ page_title }}</h1>{% if rows %}
	<table id="list" class="margin-auto">
	  <thead>
	    <tr class="header">
	      <th class="left">Soud</th>
	      <th class="left">Spisová značka</th>
	      <th>Popis</th>
	      <th>Poslední změna</th>
	      <th>Akce</th>
	    </tr>
	  </thead>{% if not suppress_table_footer %}
          <tfoot>
	    <tr class="footer">
	      <td>
		<a href="{% url 'szr:procform' %}">Přidat řízení</a>
	      </td>
	      <td colspan="4" class="right">
		{% include "pager.html" %}
	      </td>
	    </tr>
	  </tfoot>{% endif %}
	  <tbody>{% for row in rows %}
	    <tr class="{% cycle "odd" "even" %}">
	      <td>{{ row.court }}</td>
	      <td class="nowrap">{% if row.court_id == 'NSS' %}{% if row.auxid %}<a href="http://www.nssoud.cz/mainc.aspx?cls=InfoSoud&amp;kau_id={{ row.auxid }}" target="_blank">{% endif %}{% else %}<a href="http://infosoud.justice.cz/InfoSoud/public/search.do?org={{ row.court_id }}&amp;krajOrg={% if row.court.reports %}{{ row.court.reports_id }}{% else %}{{ row.court_id }}{% endif %}&amp;cisloSenatu={{ row.senate }}&amp;druhVec={{ row.register|urlencode }}&amp;bcVec={{ row.number }}&amp;rocnik={{ row.year }}&amp;typSoudu={% if row.court_id == 'NSJIMBM' %}ns{% else %}os{% endif %}&amp;autoFill=true&amp;type=spzn" target="_blank">{% endif %}{% if row.senate > 0 %}{{ row.senate }} {% endif %}{{ row.register }} {{ row.number }}/{{ row.year }}{% if row.court_id != 'NSS' or row.auxid %}</a>{% endif %}</td>
	      <td>{{ row.desc }}</td>
	      <td class="center{% if row.notify %} hl{% endif %}">{{ row.changed|date:'d.m.Y'|default_if_none:'' }}</td>
	      <td class="links"><a href="{% url 'szr:procform' row.id %}">upravit</a> <a href="{% url 'szr:procdel' row.id %}">smazat</a></td>
	    </tr>{% endfor %}
	  </tbody>
	</table>
        <p class="center">
	  <a href="{% url 'szr:procbatchform' %}">
	    Import
	  </a>
	  /
	  <a href="{% url 'szr:procexport' %}">
	    Export
	  </a>
	  /
	  <a href="{% url 'szr:procdelall' %}">
	    Smazat vše
	  </a>
	</p>	{% else %}
          <p class="center">
	    (nesledujete žádná řízení)
	  </p>
          <p class="center">
	    <a href="{% url 'szr:procform' %}">
	      Přidat řízení
	    </a>
	  /
	  <a href="{% url 'szr:procbatchform' %}">
	    Import
	  </a>
	  </p>{% endif %}
    <form method="post" enctype="multipart/form-data">
      <table style="margin: 20px auto 15px auto;">
{% if err_message %}	      <tr>
		  <td colspan="3" class="warning">
		    {% include "formwarning.html" %}
		  </td>
	        </tr>
{% endif %}        <tr>
		  <th class="{{ f.email_error }}">{{ f.email.label_tag }}</th>
		  <td>{{ f.email }}</td>
		  <td><input type="submit" name="submit" value="Změnit" /></td>
	    </tr>
      </table>
      {% csrf_token %}
    </form>
{% endblock %}
