{% extends 'hsp_form.html' %}

{% block form_contents %}
<tr id="id_fxrateform">
<td></td>
<td colspan="2"><h1 class="left">{{ page_title }}</h1></td>
</tr>
{% if err_message %}<tr>
<td></td>
<td colspan="2" class="warning">{% include 'formwarning.html' %}</td>
</tr>
{% endif %}<tr>
<th>Měny:</th>
<td colspan="2" class="center"><span class="{{ form.currency_from.css_classes }}">{{ form.currency_from }}</span> → <span class="{{ form.currency_to.css_classes }}">{{ form.currency_to }}</span></td>
</tr>
<tr>
<th>Kurs:</th>
<td colspan="2" class="center"><span class="{{ form.rate_from.css_classes }}">{{ form.rate_from }}</span> <span class="curr_from">{{ form.currency_from.value }}</span> = <span class="{{ form.rate_to.css_classes }}">{{ form.rate_to }}</span> <span class="curr_to">{{ form.currency_to.value }}</span></td>
</tr>
<tr>
<th>Období platnosti:</th>
<td colspan="2" class="center"><span class="{{ form.date_from.css_classes }}">{{ form.date_from }}</span> – <span class="{{ form.date_to.css_classes }}">{{ form.date_to }}</span></td>
</tr>
{% endblock %}

{% block note %}<p>Období platnosti je nepovinné; můžete zadat i samotné počáteční nebo koncové datum.</p>{% endblock %}
