@import "include";

h1 {
    text-align: left;
    margin-bottom: $vh;
}
thead {
    tr:first-child th {
	padding-left: $ht;
    }
    tr:last-child {
	th {
	    text-align: left;
	    padding: $vs $hh $vm $hs;
	}
	th:last-child {
	    padding-right: 0;
	}
    }
}
td.msg {
    div.msg-header {
	font-size: $large;
	font-weight: bold;
	margin-bottom: $vl;
    }
    div.msg-gap {
	margin-top: $vl;
    }
    div.msg-total {
	font-size: $larger;
	font-weight: bold;
	margin-top: $vt;
    }
}
