{% extends "main.html" %}

{% block page_contents %}
        <form method="post" enctype="multipart/form-data" id="id_maintform">
	  <table class="basic">
	    <tr><td colspan="2"><h1>{{ page_title }}</h1></td></tr>
            <tr class="{{ form.beg_date.css_classes }}">
	      <th>
		{{ form.beg_date.label_tag }}
	      </th>
	      <td>
		{{ form.beg_date }}
	      </td>
	    </tr>
	    <tr>
	      <th class="{{ form.years.css_classes }} {{ form.months.css_classes }} {{ form.days.css_classes }}">
		Délka trestu:
	      </th>
	      <td>
		<span class="{{ form.years.css_classes }}">{{ form.years }}</span> {{ form.years.label }}
		<span class="plm {{ form.months.css_classes }}">{{ form.months }}</span> {{ form.months.label }}
		<span class="plm {{ form.days.css_classes }}">{{ form.days }}</span> {{ form.days.label }}
	      </td>
	    </tr>
	    <tr>
	      <td colspan="2" class="center">
		<input type="submit" name="submit" value="Vypočítat" />
		{% csrf_token %}
	      </td>
	    </tr>
{% if messages %}	    <tr>
	      <td colspan="2" class="msg">
		<hr />
{% for message in messages %}		<div{% if message.1 %} class="{{ message.1|safe }}"{% endif %}>{{ message.0|safe }}</div>
{% endfor %}                <hr />
	      </td>
	    </tr>
{% endif %}	  </table>
	</form>
{% endblock %}
