{% extends "main.html" %}

{% block page_contents %}
        <form method="post" enctype="multipart/form-data" id="id_maintform">
	  <table class="basic">
	    <tr><td colspan="3"><h1>{{ page_title }}</h1></td></tr>
            <tr class="{{ f.beg_date.css_classes }}">
	      <th>
		{{ f.beg_date.label_tag }}
	      </th>
	      <td>
		{{ f.beg_date }}
	      </td>
	    </tr>
	    <tr>
	      <th class="{{ f.years.css_classes }} {{ f.months.css_classes }} {{ f.days.css_classes }}">
		Délka trestu:
	      </th>
	      <td>
		<span class="{{ f.years.css_classes }}">{{ f.years }}</span> {{ f.years.label }}
		<span class="plm {{ f.months.css_classes }}">{{ f.months }}</span> {{ f.months.label }}
		<span class="plm {{ f.days.css_classes }}">{{ f.days }}</span> {{ f.days.label }}
	      </td>
	    </tr>
	    <tr>
	      <td colspan="2" class="center">
		<input type="submit" name="submit" value="Vypočítat" />
		{% csrf_token %}
	      </td>
	    </tr>
{% if messages %}	    <tr>
	      <td colspan="2" class="msg">
		<hr />
{% for message in messages %}		<div{% if message.1 %} class="{{ message.1|safe }}"{% endif %}>{{ message.0|safe }}</div>
{% endfor %}                <hr />
	      </td>
	    </tr>
{% endif %}	  </table>
	</form>
{% endblock %}
