{% extends 'knr_form.html' %}

{% block form_contents %}
<tr>
<td></td>
<td colspan="2"><h1>{{ page_title }}</h1></td>
</tr>
{% if err_message %}
<tr>
<td></td>
<td colspan="2">{% include 'formwarning.html' %}</td>
</tr>
{% endif %}
<tr class="{{ form.abbr.css_classes }}">
<th>{{ form.abbr.label_tag }}</th>
<td colspan="2">{{ form.abbr }}</td>
</tr>
<tr class="{{ form.name.css_classes }}">
<th>{{ form.name.label_tag }}</th>
<td colspan="2">{{ form.name }}</td>
</tr>
<tr class="ga {{ form.flat.css_classes }}">
<th>{{ form.flat.label_tag }}</th>
<td colspan="2" class="nowrap">{{ form.flat }}<span>Kč/km</span></td>
</tr>
<tr>
<td></td>
<td colspan="2">Ceny:</td>
</tr>
{% for rate in rates %}
<tr class="{{ rate.css_classes }}{% if forloop.last %} ga{% endif %}">
<th>{{ rate.label_tag }}</th>
<td colspan="2" class="nowrap">{{ rate }}<span>Kč/l</span></td>
</tr>
{% endfor %}{% endblock %}
