{% extends 'main.html' %}

{% block page_contents %}
<h1>{{ page_title }}</h1>
<table class="about">
<thead>
<tr>
<th colspan="3">Verse</th>
</tr>
</thead>
<tbody>
{% for app in apps %}<tr>
<td>{{ app.id|upper }}</td>
<td>{{ app.name }}</td>
<td>{{ app.version }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<table class="about">
<thead>
<tr>
<th colspan="2">Prostředí</th>
</tr>
</thead>
<tbody>
{% for env in env %}
<tr>
<td>{{ env.name }}</td>
<td>{{ env.version }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% include 'back_home.html' %}
{% endblock %}
