{% extends 'main.html' %}

{% block page_contents %}
<form method="post" enctype="multipart/form-data">
<table class="form">
<tbody>
<tr>
<td></td>
<td><h1>{{ page_title }}</h1></td>
</tr>
{% if request.method == 'POST' %}
<tr>
<td></td>
<td><div class="warning">Chybné uživatelské jméno nebo heslo</div></td>
</tr>
{% endif %}
<tr>
<th><label for="id_username">Uživatelské jméno</label>:</th>
<td>{{ form.username }}</td>
</tr>
<tr>
<th><label for="id_password">Heslo</label>:</th>
<td>{{ form.password }}</td>
</tr>
<tr class="ga">
<td></td>
<td><input type="submit" name="submit" value="Přihlásit se">{% csrf_token %}</td>
</tr>
<tr>
<td></td>
<td><a href="{% url 'useradd' %}">Registrace nového uživatele</a><br><a href="{% url 'lostpw' %}">Ztracené heslo</a></td>
</tr>
</tbody>
</table>
</form>
{% endblock %}
