{% extends 'main.html' %}

{% block page_contents %}
<form method="post" enctype="multipart/form-data">
<table class="margin-auto">
<tr>
<td></td>
<td colspan="2"><h1 class="left">{{ page_title }}</h1></td>
</tr>
<tr>
<td></td>
<td colspan="2" class="pbl">Po zadání uživatelského jména obdržíte e-mailem link pro obnovení hesla.<br>Pokud není pro daného uživatele e-mail zadán, heslo nelze nijak obnovit.</td>
</tr>
{% if err_message %}<tr>
<td></td>
<td colspan="2" class="warning">{% include 'formwarning.html' %}</td>
</tr>
{% endif %}<tr class="{{ form.username.css_classes }}">
<td class="right">{{ form.username.label_tag }}</td>
<td colspan="2">{{ form.username }}</td>
</tr>
<tr>
<td class="right"></td>
<td><input type="submit" name="submit" value="Poslat link"></td>
<td class="right"><input type="submit" name="back" value="Zpět">{% csrf_token %}</td>
</tr>
</table>
</form>
{% endblock %}
