<table class="topline">
<tbody>
<tr>
<td>{% if user.is_authenticated %}<a href="{% url 'user' %}">{% endif %}Uživatel: {% if user.is_authenticated %}{{ user.get_full_name }}{% else %}(nepřihlášen){% endif %}{% if user.is_authenticated %}</a>{% endif %}</td>
{% if not suppress_home %}<td><a href="{% url 'home' %}"><svg width="8" height="10"><path d="M 0,10 8,10 4,0 Z"/></svg></a></td>
{% endif %}<td>{% if user.is_authenticated %}<a href="{% url 'pwchange' %}">změnit heslo</a> / <a href="{% url 'logout' %}">odhlásit</a>{% else %}<a href="{% url 'login' %}?next={{ request.get_full_path }}">přihlásit</a>{% endif %}</td>
</tr>
</tbody>
</table>
